<html>
  <body>
  <h2> this is example of html code and ruby code in 1 page
   <h4> 10 times do </h4>
<h4> the line is coded once, excecuted 10 times by 10.time do</h4>

<% 10.times do %>
  <%= "I can do this with no end" %><br>
<% end %>

<br><br><br>
</body>
</html>